div.nav-banner > *,
.nav-prev,
.nav-next,
.lemma-list{
/* extra light gray */
    background-color: #eaeaea;
}
.nav-banner {
    margin: 20px;
}
.kw {
    font-weight: 900;
    /* light cyan */
    background-color: #bfffff;
}
.var,
.ref,
.nav-banner,
div.lemma-list{
    font-size: smaller;
}
.var {
    opacity: 0.6;
}
.var:hover {
    opacity: 1.0;
}
.nav-banner{
    text-align: left;
}
.ver {
    font-size: x-small;
    vertical-align: super;
}
div.letter,
div.nav-banner {
    text-indent: 0px;
}
div.work {
    text-indent: 0px;
    padding-left: 15px;
    margin-top: 0px;
}
.work > .title ~ div {
    padding-left: 15px;
}
div.var > div:nth-child(2) {
    padding-left: 10px;
}
.entry > *,
.nav-banner *,
.nav-prev,
.nav-next{
    display: inline-block;
}
.nav-prev,
.nav-next{
    width: 40%;
    text-align:center;
    margin-top: 30px;
}
.nav-prev::after {
    content: ' ⇐';
}
.nav-next::before {
    content: '⇒ ';
}

.ref {
    width: 95px;
}
div.display {
    text-align: right;
}
.stub {
    cursor: pointer;
}
.stub.closed::after {
    content: '⏶';
}
.stub.open::after {
    content: '⏵';
}
.stub.closed ~ * {
    display: none;
}
.inl,
div.lemma-list > div {
    display: inline-block;
}
div.current {
    background-color: lightgray;
    font-weight:900;
}