/* css for 2018 version of schemas */

/* background */
.group > .label:hover,
.TAN-T-merge .head > .src:hover
{
    background-color: lightgreen;
}
.head,
.teiHeader,
div.claim > div:first-of-type,
tr > td.irrelevant
{
    background: lightgray;
}
.lookatme {
    background: green;
}
.highlight0 {
    background: yellow;
    opacity: 0.8;
}
.highlight1 {
    background: orange;
    opacity: 0.8;
}
.highlight2 {
    background: lightgreen;
    opacity: 0.8;
}
.src--1 {
    background-color: tan !important;
}
.src--2 {
    background-color: #dbc3a3 !important;
}
.src--3 {
    background-color: #eadbc8 !important;
}
.src--4 {
    background-color: #f8f3ed !important;
}
.src--5 {
    background-color: goldenrod !important;
}
.src--6 {
    background-color: #e4ba4e !important;
}
.src--7 {
    background-color: #ebcb7a !important;
}
.src--8 {
    background-color: #f2dca6 !important;
}
/* next up: shades of darkred */
.src--9 {
    background-color: #ff1a1a !important;
}
.src--10 {
    background-color: #ff4d4d !important;
}
.src--11 {
    background-color: #ff8080 !important;
}
.src--12 {
    background-color: #ffb3b3 !important;
}
/* next up: shades of purple */
.src--13 {
    background-color: #ff33ff !important;
}
.src--14 {
    background-color: #ff66ff !important;
}
.src--15 {
    background-color: #ff99ff !important;
}
.src--16 {
    background-color: #ffccff !important;
}

/* borders */

.head {
    border: 1px solid tan;
    border-radius: 5px;
}

body > div:first-child ~ div {
    border-top: 2px solid black
}

/* color */
.div > .tok > *,
.score
{
    color: blue;
}
.a {
    color: green;
}
.b {
    color: red;
}
tr td.irrelevant {
    color: lightgray;
}

/* cursor */
.TAN-T-merge .head {
    cursor: move;
}
.group > .label,
.head > .label,
.TAN-T-merge .head > .src,
.switch
{
    cursor: pointer
}

/* display and flex flow */

.group > .label ~ *,
.head > .label ~ *,
/* hide specific elements that you wish to suppress */
.error,
.warning,
.expansion,
.skip,
.hidden,
.reassign,
.rename,
.type,
/* TAN-T expansions produce both <ref> and <n>s. Your choice as to which to display */
.TAN-T .ref,
.div > .src,
.TAN-T-merge > .label,
.TAN-T-merge .n,
.TAN-T-merge .tr > .src,
.TAN-T-merge .orig-ref,
.TAN-T-merge .version > .ref > *,
.TAN-T-merge .version > .n,
/* suppress the info in each TAN-T-merge head so the source id can fit a single cell */
.TAN-T-merge .head > .label ~ *,
/* suppress TEI in leaf divs, to avoid duplication */
.tan .tei,
.tok-ref > .max,
.tok > .tok-ref ~ *,
.div .tok-ref > .src,
.div .tok-ref > .ref,
.div .tok-ref > .pos,
div.version > div.ref
{
    display: none
}
.tok,
.non-tok,
div.p > *,
.when,
.who,
.tok *,
{
    display: inline;
}
.TAN-T-merge .head,
.div.version > .orig-ref,
.div > .claim,
.claim .score,
.claim .ref
{
    display: inline-block
}
.TAN-T-merge .td > .version {
    display: block;
}

table {
    width: 100%
}
.table {
    display: table;
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-direction: column*/
}
.tr {
    display: table-row;
    border: 1px solid blue;
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
}
.TAN-T-merge .version,
.align > .tok,
.td,
.claim > *{
    display: table-cell;
    /*border: 1px solid green;*/
    vertical-align: middle;
}
/*.version{
    width: 33%
}*/
/*.tr > .td {
    flex-grow: 3;
    flex-shrink: 2
}
.tr > .version{
    flex-grow: 1;
    flex-shrink: 3;
}*/
/* float */
/* leaf-div metadata */
.TAN-T .n
{
    float: left;
    margin-right: 6px;
    color: gray
}
.when,
.who,
.claimant,
.switch,
.filter
{
    float: right
}
.a,
.b,
.common {
    display: inline
}


/* FONTS */
/* font faces */
@font-face
{
    font-family: "Rosario";
    src: url('../../fonts/Rosario-Regular.ttf');
}
@font-face {
    font-family: "Rosario";
    src: url("../../fonts/Rosario-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Rosario";
    src: url("../../fonts/Rosario-Italic.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Rosario";
    src: url("../../fonts/Rosario-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Sorts Mill Goudy";
    src: url("../../fonts/SortsMillGoudy-Regular.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "Sorts Mill Goudy";
    src: url("../../fonts/SortsMillGoudy-Italic.ttf") format("truetype");
    font-style: italic;
}
@font-face
{
    font-family: noto;
    src: url('../../fonts/NotoSansSyriacEstrangela-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: antinoou;
    src: url('../../fonts/Antinoou.ttf') format('truetype');
}
body {
    font-family: 'Sorts Mill Goudy';
}
div[dir = rtl] {
    font-family: 'noto';
}
body > * > .name,
.type--title {
    font-family: 'Rosario';
}
.when,
.who,
.matches-m,
.IRI {
    font-family: courier, fixed, monospace
}

/* font attributes */
.head,
.teiHeader,
.IRI,
.who,
.when
.claimant,
.desc,
.src,
.orig-ref {
    font-size: smaller;
}
.name
{
    font-size: large;
}
.div > .tok > * {
    font-size: smaller;
}
.name,
.match,
.boldface,
.stats-diff
{
    font-weight: 900;
}



/* height */
/*div.ref
{
    height: 6px
}*/

/* margins */
.TAN-A-tok ~ .TAN-T .div,
.TAN-A-lm ~ .TAN-T .div {
    margin-top: 60px;
}

/* margins */
div {
    margin-left: 6px;
}
.tok,
.non-tok,
.div > .tok *,
div.a,
div.b,
div.common {
    margin-left: 0px;
}
div.group.sortable,
.claim{
    margin-bottom: 20px
}
/* opacity */
.suppressed {
    opacity: 0.5;
}


/* padding */
.div.version,
#parameters .td{
    padding: 0px 8px;
}

/* position */
.div > .tok > * {
    position: absolute;
}
.div > .tok {
    position: relative;
}

/* text */
thead td {
    text-align: center;
}
table.tablesorter > tbody > tr > td {
    text-align: right;
}
.a {
    text-decoration: underline;
}
.b {
    text-decoration: line-through;
}
div.ref
{
    text-indent: 0px
}

/* ITEMS BELOW HAVE BEEN RETAINED FROM AN OLD VERSION OF THIS CSS */

/*/\* display and flex flow *\/
.error,
.info,
.fatal,
.head .label ~ div,
.tei-label ~ div,
.source .location .label ~ div,
.comment,
.change,
.role,
.realign,
.align,
.work .IRI,
.source > .IRI,
div.source > div.src,
table.claim tbody,
div.name > div.lang,
.TAN-A-tok .TAN-T .orig-ref,
.TAN-A-tok .TAN-T .gloss,
.TAN-A-tok .TAN-T .cert,
.TAN-A-tok .TAN-T .reuse-type,
.TAN-LM .TAN-T .orig-ref,
.TAN-LM .TAN-T .gloss,
.TAN-LM .TAN-T .which,
.group:not(*),
.xref,
.anas > *:not(.label),
.m > .f,
div.f div,
div.f > div.id,
div.f > div.code{
    display: none;
}
td div{
    display: initial;
}
.leaf > div.ref,
div.rend,
tr:first-of-type > td div.src,
td div.pre-realign-ref,
div.f div.name:nth-of-type(1){
    display: block;
}
.claim,
.claim > div,
.TAN-A-tok .TAN-T .div,
.TAN-A-tok .TAN-T .non-tok,
.TAN-A-tok .TAN-T .tok,
.TAN-LM .TAN-T .div,
.TAN-LM .TAN-T .non-tok,
.TAN-LM .TAN-T .tok
{
    display: flex
}
.claim > * > .label
{
    display: inline-block
}
.claim > div.claimant{
    display: block
}
.TAN-A-tok .TAN-T,
.TAN-LM .TAN-T{
    display: table-cell
}
/\* height, width *\/
.gloss{
    height: auto;
    width: auto;
}
/\* alignment, position, flex-flow *\/
.claim > div,
.TAN-A-tok .TAN-T .div,
.TAN-LM .TAN-T .div{
    align-items: flex-end;
    flex-flow: row wrap;
}
.anchor,
.xref{
    position: relative;
}
.gloss,
.xref > .cert,
.reuse-type{
    position: absolute;
}
.xref > .cert,
.reuse-type{
    bottom: 36px;
}

/\*td[rowspan]{
    flex-flow: wrap
}*\/
/\* text *\/
.type--para,
.desc{
    text-indent: 10px
}

/\* color *\/
body > * > .name,
.label,
td div.pre-realign-ref,
.tei-label,
div.rend,
.orig-ref{
    color: sienna;
}
.ref,
.TAN-A-div .orig-ref,
.claimant,
td div.src{
    color: gray;
}
.gloss,
.tok[class *= gloss]{
    color: blue;
}
.warning,
.warning.gloss,
.refmatch{
    color: red;
}
.gloss .f{
    color: initial;
}
/\* align *\/
.TAN-A-div .orig-ref,
tr:first-of-type > td div.src,
.gloss,
.xref > .cert,
.reuse-type{
    text-align: center
}
div.f > div.desc{
    text-align: left
}
/\* width *\/
.leaf > div.ref,
.leaf > div.orig-ref{
    width: 40px
}
.equate-works .source{
    width: 200px
}

div[class ^= tei],
div.tok,
div.non-tok,
.anchor,
.declarations,
.gloss,
.gloss *,
.cert,
.reuse-types,
.ver *{
    margin-left: 0px;
}
.label,
.tei-label{
    margin-right: 6px;
}
.leading-start,
.body > div > div,
.feature{
    margin-top: 12px;
}
.head > .name:first-of-type,
.TAN-A-div > .body > div{
    margin-top: 24px;
}
.leading-end,
.equate-works,
.TAN-A-div > .work > *{
    margin-bottom: 12px;
}
.leaf > div.ref,
.leaf > div.orig-ref,
.comment > .when,
.comment > .who,
.change > .when,
.change > .who{
    margin: 0px 6px;
}
td > div.label,
td div.pre-realign-ref{
    margin: 0px 3px;
}
/\* content *\/
td div.pre-realign-ref:before,
.TAN-A-div .orig-ref:before{
    content: "= "
}
/\* buttons *\/
.equate-works .source{
    text-shadow: 1px 1px 1px white;
    box-shadow: 2px 2px 2px #bbb;
    border: solid thin #882d13;
    border-radius: .7em;
}
/\* transition *\/
.lookatme{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}*/