/* css for 2018 version of TAN */


/* BACKGROUND */

.group > .label:hover,
.TAN-T_merge .head > .src:hover
{
    background-color: lightgreen;
}
.head,
.teiHeader,
div.claim > div:first-of-type,
tr > td.irrelevant
{
    background: lightgray;
}
.change > .who,
.change > .when{
   background: gray;
}
.lookatme {
    background: green;
}
.highlight0 {
    background: yellow;
    opacity: 0.8;
}
.highlight1 {
    background: orange;
    opacity: 0.8;
}
.highlight2 {
    background: lightgreen;
    opacity: 0.8;
}
.src--1 {
    background-color: tan !important;
}
.src--2 {
    background-color: #dbc3a3 !important;
}
.src--3 {
    background-color: #eadbc8 !important;
}
.src--4 {
    background-color: #f8f3ed !important;
}
.src--5 {
    background-color: goldenrod !important;
}
.src--6 {
    background-color: #e4ba4e !important;
}
.src--7 {
    background-color: #ebcb7a !important;
}
.src--8 {
    background-color: #f2dca6 !important;
}
/* next up: shades of darkred */
.src--9 {
    background-color: #ff1a1a !important;
}
.src--10 {
    background-color: #ff4d4d !important;
}
.src--11 {
    background-color: #ff8080 !important;
}
.src--12 {
    background-color: #ffb3b3 !important;
}
/* next up: shades of purple */
.src--13 {
    background-color: #ff33ff !important;
}
.src--14 {
    background-color: #ff66ff !important;
}
.src--15 {
    background-color: #ff99ff !important;
}
.src--16 {
    background-color: #ffccff !important;
}


/* BORDERS */

.head,
.head .item,
.resp{
    border: 1px solid tan;
    border-radius: 5px;
}

body > div:first-child ~ div {
    border-top: 2px solid black
}


/* COLOR */

.div > .tok > *,
.score
{
    color: blue;
}
.a {
    color: green;
}
.b {
    color: red;
}
tr td.irrelevant {
    color: lightgray;
}


/* CONTENT */

.licensor:before{
   content: "licensor: ";
}


/* CURSOR */

.TAN-T_merge .head {
    cursor: move;
}
* > .label,
.TAN-T_merge .head > .src,
.switch
{
    cursor: pointer
}


/* DISPLAY AND FLEX FLOW */

/* A label signals information that should be hidden unless the label is clicked */
* > .label ~ *,
/* hide specific elements that you wish to suppress */
.error,
.warning,
.expansion,
.skip,
.hidden,
.reassign,
.rename,
.type,
/* TAN-T expansions produce both <ref> and <n>s. Your choice as to which to display */
.TAN-T .ref,
.div > .src,
.TAN-T_merge > .label,
.TAN-T_merge .n,
.TAN-T_merge .tr > .src,
.TAN-T_merge .orig-ref,
.TAN-T_merge .version > .ref > *,
.TAN-T_merge .version > .n,
.TAN-T_merge .head > .label ~ *,
.tok-ref > .max,
.tok > .tok-ref ~ *,
.div .tok-ref > .src,
.div .tok-ref > .ref,
.div .tok-ref > .pos,
div.version > div.ref
{
    display: none
}
.tok,
.non-tok,
.when,
.tok *,
div.tei.p *
{
    display: inline;
}
.TAN-T_merge .head,
.div.version > .orig-ref,
.head .item,
.div > .claim,
.claim .score,
.claim .ref,
.change > .who,
.change > .when
{
    display: inline-block
}
.TAN-T_merge .td > .version {
    display: block;
}

table {
    width: 100%
}
.table {
    display: table;
}
.tr {
    display: table-row;
    border: 1px solid blue;
}
.TAN-T_merge .version,
.align > .tok,
.td,
.version-wrapper > .group > .group,
.claim > *{
    display: table-cell;
    /*border: 1px solid green;*/
    vertical-align: middle;
}
.TAN-T .n
{
    float: left;
    margin-right: 6px;
    color: gray
}
.when,
/*.who,*/
.claimant,
.switch,
.filter
{
    float: right
}
.a,
.b,
.common {
    display: inline
}


/* FONTS */

/* font faces */
@font-face
{
    font-family: "Rosario";
    src: url('../fonts/Rosario-Regular.ttf');
}
@font-face {
    font-family: "Rosario";
    src: url("../fonts/Rosario-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Rosario";
    src: url("../fonts/Rosario-Italic.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Rosario";
    src: url("../fonts/Rosario-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Sorts Mill Goudy";
    src: url("../fonts/SortsMillGoudy-Regular.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "Sorts Mill Goudy";
    src: url("../fonts/SortsMillGoudy-Italic.ttf") format("truetype");
    font-style: italic;
}
@font-face
{
    font-family: noto;
    src: url('../fonts/NotoSansSyriacEstrangela-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: antinoou;
    src: url('../fonts/Antinoou.ttf') format('truetype');
}
body {
    font-family: 'Sorts Mill Goudy';
}
div[dir = rtl] {
    font-family: 'noto';
}
body > * > .name,
.type--title {
    font-family: 'Rosario';
}
.when,
/*.who,*/
.matches-m,
.IRI {
    font-family: courier, fixed, monospace
}

/* font attributes */
.head,
.teiHeader,
.IRI,
/*.who,*/
.when
.claimant,
.desc,
.src,
.orig-ref {
    font-size: smaller;
}
.name
{
    font-size: large;
}
.div > .tok > *,
.head .item {
    font-size: smaller;
}
.name,
.match,
.boldface,
.stats-diff
{
    font-weight: 900;
}

.quote{
   font-style:italic;
}


/* LINE HEIGHT */

.head .item{
   line-height: 120%;
}


/* MARGINS */

.TAN-A-tok ~ .TAN-T .div,
.TAN-A-lm ~ .TAN-T .div {
    margin-top: 60px;
}
.head .item{
   margin:inherit;
}
div {
    margin-left: 6px;
}
.tok,
.non-tok,
.div > .tok *,
div.a,
div.b,
div.common {
    margin-left: 0px;
}
div.group.sortable,
.claim{
    margin-bottom: 20px
}
.change > .who,
.change > .when{
   margin-right: 6px;
}


/* OPACITY */

.suppressed {
    opacity: 0.5;
}


/* PADDING */

.div.version,
#parameters .td{
    padding: 0px 8px;
}
.head .item{
   padding-right: 6px;
}


/* POSITION */

.div > .tok > * {
    position: absolute;
}
.div > .tok {
    position: relative;
}


/* TEXT */

thead td,
.affects-element{
    text-align: center;
}
table.tablesorter > tbody > tr > td {
    text-align: right;
}
.a {
    text-decoration: underline;
}
.b {
    text-decoration: line-through;
}
div.ref,
.head .item > *
{
    text-indent: 0px
}
