<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head> </head>
    <body>
        <h2>Images </h2>
        <div class="dcap">Despite condemnation in the mid-sixth century, Evagrius Ponticus occasionally appears in
            later Christian iconography. Listed here are all known ancient and medieval images, and
            select post-Byzantine images.</div>
        <h3>Ancient and Medieval</h3>
        <span style="float:right; padding-left:20px; text-indent:0;">
            <img height="165" src="images/EvPontAmb49-807.png" width="150" />
        </span>
        <h4>Milan, Biblioteca Ambrosiana, ms. E.49-50 infr. </h4>
        <div> This 9th c. ms., containing the sermons and letters of St. Gregory of Nazianzus, shows
            the same seated on a cushioned bench with a roll extended to a messenger, depicted as a
            tonsured monk. The uncial Greek inscription reads "In which the Theologian writes to
            Evagrius." A companion image, of the messenger delivering the letter to Evagrius, is not
            published. The illumination occurs at ps.-Gregory of Nazianzus/ps.-Gregory of Nyssa ep.
            26 (TLG number 2017.070; Patrologia Graeca 46:1101, based on this manuscript), said to
            be addressed to Evagrius (the authorship is unlikely; Evagrius as recipient is
            possible). The image is taken from A. Grabar, <i>Miniatures du Grégoire de Nazianze</i>
            (Paris, 1943), pl. LXXVIII (2). For other pairs of miniatures depicting Gregory sending
            letters to recipients see ibid., pls. LIX, LX. </div>
        <h4>Parisinus Graecus 923 </h4>
        <div> Below are select images of Evagrius taken from Parisinus Graecus 923, a 9th c.
            manuscript containing the <em>Sacra Parallela</em> of St. John of Damascus. The
            manuscript has eighteen images of Evagrius&#x2014;ten busts and eight medallions. For
            more details, see Kurt Weitzmann, <i>The Miniatures of the Sacra parallela, Parisinus
                Graecus 923</i>, Studies in Manuscript Illumination 8 (Princeton, N.J.: Princeton
            University Press, 1979). </div>
        <aside>
            <figure>
                <img height="231" src="images/EvPontP923-49v.gif" width="238" />
                <figcaption>Evagrius of Pontus, fol. 49v </figcaption></figure>
            <figure>
                <img height="249" src="images/EvPontP923-78r.gif" width="234" />
                <figcaption>Evagrius of Pontus (left) and Philo Judaeus (right), fol. 78r
                </figcaption></figure>
            <figure>
                <img height="243" src="images/EvPontP923-85v.gif" width="262" />
                <figcaption>Evagrius of Pontus, fol. 85v </figcaption>
            </figure>
        </aside>
        <aside>
            <figure>
                <img height="241" src="images/EvPontP923-129r.gif" width="235" />
                <figcaption>Evagrius of Pontus, fol. 129r </figcaption></figure>
            <figure>
                <img height="222" src="images/EvPontP923-238v.gif" width="209" />
                <figcaption>Evagrius of Pontus, fol. 238v </figcaption></figure>
            <figure>
                <img height="242" src="images/EvPontP923-290r.gif" width="234" />
                <figcaption>Evagrius of Pontus, fol. 290r </figcaption></figure>
            <figure>
                <img height="201" src="images/EvPontP923-373r.gif" width="196" />
                <figcaption>Evagrius of Pontus, fol. 373r </figcaption>
            </figure>
        </aside>
        <h4>Farfa, Italy </h4>
        <div> In Farfa (Sabina), Italy, in the basilica of Saint Martinus, a fresco of Evagrius,
            youthful and beardless, survives. The description of the fresco: </div>
        <blockquote>
            <div> "Il luogo principale, dirò così, della cripta, corrisponde al punto ove nella
                basilica superiore era l'altare. Da questo lato l'irregolarità della roccia fu
                nascosta da una parete d'opera muraria, che fu continuata anche lateralmente a
                sinistra. L'altare della cripta doveva essere in una specie di nicchia, nel cui
                fondo tra fogliami ed ornati sono dipinti piccoli dischi ritraenti scene
                scritturali. Sono ancor visibili Adamo ed Eva in piedi presso l'albero del paradiso,
                ma le altre scene son cadute, o mezzo le ricoprono le macerie. La volticina
                dell'arco tra gli ornati ha due imagini clipeate. Il personaggio ritratto a sinistra
                è imberbe, d'aspetto giovanile ed indossa la dalmatica. Il nome dipinto in linea
                verticale ai lati del capo lo designa per SCS E.VAC.RIV.DIA. Verisimilmente è il
                celebre sant'Evagrio del Ponto, si duramente trattato da san Girolamo a cagione del
                suo preteso origenismo, ma riguardato a buon diritto per santo da quelli che meglio
                il conobbero. L'altro personaggio a destra è anch'egli un diacono, ma il suo nome è
                caduto coll' intonaco che lo ricopriva; resta la leggenda: ...SCS...DIAC.... Non
                sarebbe improbabile che fosse il diacono Arsenio, solitario anch'egli tra i più
                illustri, la cui memoria era venerata dai monaci insieme a quella di sant'Evagrio e
                degli altri Padri del monachismo. L'affresco può risalire al secolo XI."</div>
            <div>&#x2014;Schuster, D. Ildefonso. "Della Basilica di San Martino e di alcuni ricordi
                Farfensi." <i>N. Bull. Arch. Crist.</i> 8 (1902): 47&#x2013;54. </div>
        </blockquote>
        <div>An image of this fresco has been published in L. Branciani, "Il monte S. Martino," in
                <i>Farfa, storia di una fabbrica abbaziale: Mostra permanente</i> (Abbazia di Farfa,
            Fara Sabina (Rieti); [Rome]: Veutro; Florence: Distribuzione Licosia, [1985]), 49 fig.
            14. </div>
        <span style="float:left; padding-right:20px; text-indent:0;">
            <img height="272" src="images/EvPontKaffa.jpg" width="134" />
        </span>
        <h4>Library of the Armenian Patriarchate of Jerusalem, ms. 285 </h4>
        <div> Evagrius is depicted in MS 285 of the Armenian Patriarchate of Jerusalem (dated 1430),
            from Kaffa, the Armenian monastery of St. Anthony the Great. The vivid colors (not shown
            here) suggest Evagrius to be less austere than other ascetics depicted in the same work.
            The MS contains the text for the Lives of the Egyptian Desert Fathers. The illustration
            was published in plate 18 of Nira Stone, <i>The Kaffa Lives of the Desert Fathers: A
                Study in Armenian Manuscript Illumination</i>, Corpus Scriptorum Christianorum
            Orientalis 566 (Leuven: Peeters, 1997). Thanks to A. Casiday for noting this
            illustration.</div>
        <h2>Post-Byzantine Images</h2>
        <span style="float:right; padding-left:20px;">
            <img src="http://upload.wikimedia.org/wikipedia/commons/9/94/Evagrius.jpg" height="200"
                width="140" />
        </span>
        <h4>Manoogian Museum acc. no. 1988 269 </h4>
        <div> In Southfield, Michigan, USA, the Alex and Marie Manoogian Museum (affiliated with St.
            John's Armenian Church of Greater Detroit) holds a manuscript (1988 269) with a splendid
            color illumination of Evagrius, John of Sinai, and a Patriarch (fol. 163v., cat. 85).
            The illumination is by Mik`ayêl, dated 1696-97. Evagrius stands on the left in a
            short-sleeved tunic. The manuscript is currently unpublished but a picture is in
            circulation (right).</div>
        <span style="float:left; padding-right:20px;">
            <a
                href="http://www.europeana.eu/portal/record/15802/823D6F2FEF4D47778D0C8D3B6383C31EE289E310.html?utm_source=embed&amp;utm_medium=portal&amp;utm_campaign=embed%20function"
                title="Evagrius" target="_blank">
                <img src="images/EvPontN16SAD008478_Thumbnail_GED_00000000.png" />
            </a>
        </span>
        <h4>Johan Sadeler, after Marten de Vos, "Solitudo sive vitae patrum eremicolarum"</h4>
        <div>This sixteenth-century intaglio engraving is one of a series of thirty. The inscription
            at the bottom reads "Evagrius sacri divina oracula verbi Doctus, et æternę dogmata
            legis, erat. Vnde suis sanctæ pręcepta salubria vitæ, Invicta adversus dæmonas arma,
            dabat." ("Evagrius was learned in the divine oracles of the sacred word, and of the
            dogmas of the eternal law. Whence he gave salvific precepts of the holy life and
            unconquerable weapons against the demons.") </div>
        <span style="float:right; padding-left:20px;">
            <img src="http://upload.wikimedia.org/wikipedia/commons/9/94/Evagrius.jpg" height="200"
                width="140" />
        </span>
        <h4>Evagrius in Armenian</h4>
        <div>Woodcut of Evagrius in the schema of a Mkhitarist monk, reprinted from <em><a href="https://catalog.hathitrust.org/Record/003478609">Girkʻ utʻn khorhrdotsʻ meghatsʻ / 
		arareal Srboy Hōrn Ewagreay</a></em> (Constantinople: I Tparani Atsaturi, 1750), p. 2</div>
    </body>
</html>
