<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
        <meta name="DC.title" content="Guide to Evagrius Ponticus" />
        <meta name="DC.description"
            content="Definitive lists of Evagrius's works, of editions and translations of those works, and of studies related to his life and thought. It includes an inventory of key ancient sources that refer to Evagrius and a display of imagery from the ancient world. Updated quarterly, the Guide will gradually introduce a manuscript checklist, images of manuscripts, transcriptions of those manuscripts, and open source critical editions of Evagrius's writings." />
        <meta name="DC.subject" xml:lang="en" content="Evagrius Ponticus,
Greek patristics" />
        <meta name="DC.creator" content="Joel Kalvesmaki" />
        <meta name="DC.date" content="2013-06-02" />
    </head>
    <body>
        <h2>Introduction</h2>
        <div class="dcap">Evagrius Ponticus (b. 345 in Ibora; d. 399 in Egypt), a monastic theologian, was one of
            the most talented intellects of the fourth century. Circulating in elite ecclesiastical
            circles of Cappadocia and Asia Minor, he began his career under Basil of Caesarea and
            Gregory of Nazianzus, serving with the latter in Constantinople through a stormy tenure
            that culminated in the Second Ecumenical Council (381). Known then as a brilliant
            heresiologist, Evagrius seemed destined for a successful ecclesiastical career. He chose
            a different course, and fled to Jerusalem, where he took vows in the monastic
            communities of Rufinus and Melania. From there he traveled to Egypt and lived in
            monasteries in Nitria and Kellia. In Egypt he wrote extensively in a variety of
            genres&#x2014;letters, proverbs, brief sayings (chapters), and treatises&#x2014;nearly
            all geared toward explaining and analyzing vice and virtue, demons and angels,
            psychological and psychosomatic phenomena&#x2014;in sum, the life of the ascetic. His
            accounts are set, sometimes explicitly, oftentimes pensively, within a well-developed
            metaphysical system that responded to both classical philosophy (Plato, Aristotle,
            Stoicism) and the theology of some of the most accomplished Christian intellectuals
            (Clement of Alexandria, Origen, Gregory of Nazianzus).</div>
        <div>Although well connected in his own time, Evagrius fell into disrepute in the sixth
            century, when his writings, along with those of Origen and Didymus the Blind, were
            associated with a theological strain of Origenism condemned at the Fifth Ecumenical
            Council (553). The more speculative of Evagrius's writings fell out of circulation in
            the Byzantine Greek manuscript tradition. Those works survive in a number of other
            languages, principally Syriac, Armenian, Georgian, and Arabic&#x2014;linguistic
            traditions whose reception of Origen and Evagrius were not as controversial. His
            writings deeply influenced many theologians and monastic writers, including Sts. John
            Cassian, "Dionysius the Areopagite," Maximus Confessor, John Climacus, Isaac of Nineveh,
            and Simeon the New Theologian. The Armenian Orthodox Church commemorates him, as did
            some Syriac-speaking Orthodox churches, but his condemnation is maintained by the
            Eastern Orthodox Church and, with important caveats (e.g., his recent inclusion in
                <em>Butler's Lives of the Saints</em>), the Roman Catholic Church.</div>
        <div>This <em>Guide</em> provides extensive lists of Evagrius's works, of editions and
            translations of those works, and of studies related to his life and thought. It includes
            an inventory of key ancient sources that refer to Evagrius and a display of imagery from
            the ancient world. The <em>Guide</em> is updated annually. </div>
    </body>
</html>
