<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Guide to Evagrius Ponticus</title>
        <link rel="shortcut icon" href="../favicon.ico" />
        <link href="../atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="application/javascript" src="../js/jquery-ui-1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="../js/tan2020.js"><!-- --></script>
        <!--Fonts-->
        <script src="https://use.typekit.net/xsq4rhz.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" type="text/css" href="../css/tan2020.css"/>
        <link rel="stylesheet" type="text/css" href="../css/diff.css"/>
        <link rel="stylesheet" type="text/css" href="../css/default.css" />
    </head>
    <body>
        <header>
            <div class="toplogo">
                <img src="../images/EvPontP923-290r-bw.gif" alt="miniature of Evagrius" height="80"
                    width="80" />
                <div class="caption">Paris. Gr. 923, fol. 290r</div>
            </div>
            <div class="masthead">
                <h1 class="title">Guide to Evagrius Ponticus</h1>
                <h1 class="siteeditor">edited by Joel Kalvesmaki</h1>
                <div class="dateline">
                    <div class="this-edition">2023 edition</div>
                </div>
            </div>
            <div class="nav">
                <div>
                    <a href="../index.htm">Introduction</a>
                </div>
                <div>
                    <a href="../life.htm">Life</a>
                </div>
                <div>
                    <a href="../corpus.htm">Writings</a>
                </div>
                <div>
                    <a href="../images.htm">Images</a>
                </div>
                <div>
                    <a href="../bibliography.htm">Bibliography</a>
                </div>
                <div>
                    <a href="../about.htm">Credits</a>
                </div>
            </div>
        </header>
        <hr />
        <div id="content" class="body">page content goes here</div>
        <hr />
        <footer>
            <div>
                <a id="cformtrigger" href="#contact">feedback</a>
                <div id="contact">contact: kalvesmaki gmail com</div>
            </div>
            <div>
                <a href="about.htm">about</a>
            </div>
            <div>announcements: <a href="atom.xml">atom <img src="../images/atom.png" alt="atom feed"
                     /></a> | <a href="https://twitter.com/GuidetoEvagrius">twitter <img
                        src="../images/twitter.gif" alt="twitter feed" /></a> | <a
                    href="http://groups.google.com/group/guide-to-evagrius-ponticus?hl=en">email</a>
            </div>
        </footer>
        <script type="text/javascript" src="../js/gep.js"><!-- --></script>
        <script type="text/javascript" src="../js/diff.js"><!-- --></script>
    </body>
</html>
